@charset "utf-8";


body {
    widows: 100vw;
    height: 100vh;
    background-image: url('../img/tabletop.jpg');
    background-size: cover;
    background-position: center;
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#resetPs, #resetAll, #resetColor{
    background-color:transparent;
    border:none;
    margin-left:15px;
    outline: none;
    color: white;
    font-family: 'Gudea', sans-serif;
    font-style: italic;
    font-size: 12px;
    padding-top: 7px;
}

main{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}

.title{
    font-size:30px;
    color: white;
    margin:10px 0 0 20px;
    font-family: 'Lobster', cursive;
}

textarea{
  width: 16vw;
  height: 25vh;
  background-color: transparent;
  border: 0px;
  outline: none;
  padding:0.9vw;
  font-family: "Kokoro",'Gudea', sans-serif;
  font-size: 15px;
  resize: none;
}


.card{
    position: relative;
    z-index: 0;
    width: 19vw;
    height: 34vh;
    background-color: white;
    margin:2.7vh 1.2vw 2.2vh 1.2vw;
    box-shadow: -2px 3px 3px 1px rgba(0, 0, 0, 0.15);
    border-top: 4.5vh solid rgba(50,50,50,0.15);
}


button{
    background-color:transparent;
    border:none;
    margin-left:5px;
    outline: none;
    color: rgba(90, 90, 90, 0.8);
    font-family: 'Gudea', sans-serif;
    font-style: italic;
}

.buttons{
    text-align: center;
}




/* モバイル用 */
@media screen and (max-width:325px){

    main{
        flex-direction: column;
    }

    .title{
        font-size:20px;
        color: white;
        margin:10px 0 0 20px;
        font-family: 'Lobster', cursive;
    }


    textarea{
        width: 260px;
        height: 260px;
        background-color: transparent;
        border: 0px;
        outline: none;
        padding:10px;
        font-family: "Kokoro",'Gudea', sans-serif;
        font-size: 15px;
        resize: none;
    }


    .card{
        position: relative;
        z-index: 0;
        width: 280px;
        height: 320px;
        margin: 10px auto;
        background-color: white;
        box-shadow: -2px 3px 3px 1px rgba(0, 0, 0, 0.15);
        border-top: 30px solid rgba(50,50,50,0.15);
    }


    #resetPs, #resetAll, #resetColor{
        display: none;
    }









}